<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Embed Codes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Montserrat:400,700'
  rel='stylesheet' type='text/css'>

<body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65400709-1', 'auto');
    ga('send', 'pageview');
  </script>

<style>

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.embed-code {
  width: 100%;
  color: #18b7b7;
  border: 2px solid #cdcccc;
  border-radius: 5px;
  font-size: 1.0rem;
  padding: 0.6rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.embed-codes-block {
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2.0rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  max-width: 60rem;
}

p {
  font-size: 0.85rem;
}

</style>

<div class="main">


<h2>Embed codes (English)</h2>

<div class="embed-codes-block">
  <h3>1. Recommended</h3>
  <textarea class="embed-code">{{scriptTagEmbedCode}}</textarea>

  <h3>2. IFrame tag with remote auto-resize script</h3>
  <textarea class="embed-code" rows="3">{{iFrameWithRemoteResizeEmbedCode}}</textarea>

  <h3>3. IFrame tag with inline auto-resize script</h3>
  <textarea class="embed-code" rows="10">{{iFrameWithInlineResizeEmbedCode}}</textarea>
</div>

<h2>Embed codes (Finnish version)</h2>

<div class="embed-codes-block">
  <h3>1. Recommended</h3>
  <textarea class="embed-code">{{scriptTagEmbedCodeFi}}</textarea>

  <h3>2. IFrame tag with remote auto-resize script</h3>
  <textarea class="embed-code" rows="3">{{iFrameWithRemoteResizeEmbedCodeFi}}</textarea>

  <h3>3. IFrame tag with inline auto-resize script</h3>
  <textarea class="embed-code" rows="10">{{iFrameWithInlineResizeEmbedCodeFi}}</textarea>
</div>

<h2>HTTPS embed codes</h2>

<p>
  Please contact info@lucify.com if you require https embed codes.
</p>

<h2>More information</h2>

<p>
  All embed code types will embed the
  Lucify component within an iFrame.
</p>

<p>Use Lucify embeds at your own risk.</p>

<p>
  To inject an embed for testing with Chrome's
  web developer tools:
  <ol>
    <li>
      Insert the iFrame part of the embed code (3)
      into the desired location in the page.
    </li>
    <li>
      Copy-paste the script part of embed code (3)
      into the console.
    </li>
  </ol>
</p>

<p>Resizing is based on <a href="https://github.com/davidjbradshaw/iframe-resizer">iframe-resizer</a>.</p>

<p>Contact info@lucify.com if require you have any question or require assistance.</p>

</div>


</body>

</html>
